body {
    background: url(../images/regal/regal.png)
}

.newShow {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    background-color: #6495ED;
}

.newShow:hover {
    background-color: #4682B4;
    color: white;
}

#show-input {
    margin-top: 60px;
    margin-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#add-show {
    margin-top: 60px;
    margin-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    background-color: #6495ED;
}

#add-show:hover {
    background-color: #4682B4;
    color: white;
}

#show-view {
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-content {
    font-weight: bold;
    text-align: center;
}

figure {
    margin-right: 5px;
    left: 0;
}